@use './utils.scss';

#content {
    @include utils.tablet(){
        max-width: 50%;
    }
    @include utils.desktop(){
        max-width: 500px;
    }
    position:absolute;
    left: 50%;
    transform: translate(-50%, 0);
}