@use './utils.scss';

#content {
    @include utils.tablet(){
        width: 50%;
    }
    @include utils.desktop(){
        width: 500px;
    }
    @include utils.tabletordesktop(){
	    position:absolute;
	    left: 50%;
	    transform: translate(-50%, 0);
    }
}
