@use './utils.scss';

@include utils.phone() {
    .hamburger-menu {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hamburger-menu .line {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }
}